<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body class="hold-transition register-page">
  <div class="register-box">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <p class="h1" style="font-size: xx-large;"><b>LiberTeis</b></p>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Inicia sesión en la plataforma</p>
        <form id="loginForm">
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Correo electrónico" name="email" id="email" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Contraseña" name="password" id="password" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <button type="button" id="loginButton" class="btn btn-primary btn-block">Entrar</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <%- include('../partials/scripts') %>
    <script>
      $(document).ready(function() {
        $("#loginButton").click(function() {
          var email = $('#email').val();
          var password = $('#password').val();

          $.ajax({
            type: "POST",
            url: "/auth/login",
            data: {
              email: email,
              password: password
            },
            success: function(response) {
              console.log(response);
              $(document).Toasts('create', {
                class: 'bg-success',
                title: 'Usuario logeado correctamente',
                autohide: true,
                delay: 5000,
                body: 'Has accedido correctamente al sistema.'
              })
              setTimeout(function() {
                location.href = "/dash";
              }, 1000);
            },
            error: function(error) {
              if (error.status === 400) {
                location.href = "/auth/changepass";
              } else {
                console.error(error);
                $(document).Toasts('create', {
                  class: 'bg-danger',
                  title: 'Ha ocurrido un error',
                  autohide: true,
                  delay: 5000,
                  body: 'El servidor ha retornado un error. Intenta reescribir tus credenciales.'
                })

              }
            }
          });
        });
      });
    </script>

</body>

</html>