<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body class="hold-transition register-page">
  <div class="register-box">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a class="h1" style="font-size: xx-large;"><b>Gestión de eventos</b></a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Registra a un nuevo usuario</p>
        <form id="registerForm">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Nombre" name="fullname" id="fullname" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Correo electrónico" name="email" id="email" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Contraseña" name="password" id="password" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Vuelve a escribir tu contraseña" name="confirmPassword" id="confirmPassword" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <button type="button" class="btn btn-primary btn-block" onclick="registerUser()">Register</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <%- include('../partials/scripts') %>
    <script>
      function validateForm() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;
        if (password !== confirmPassword) {
          alert("Las contraseñas no coinciden");
          return false;
        }
        return true;
      }

      function registerUser() {
        if (!validateForm()) {
          return;
        }

        var fullname = $('#fullname').val();
        var email = $('#email').val();
        var password = $('#password').val();
        console.log(fullname, email, password);

        $.ajax({
          type: "POST",
          url: "/auth/register",
          data: {
            fullname: fullname,
            email: email,
            password: password,
            type: "adminUser"
          },
          success: function(response) {
            console.log(response);
            $(document).Toasts('create', {
              class: 'bg-success',
              title: 'Usuario creado correctamente',
              autohide: true,
              delay: 5000,
              body: 'El usuario ha sido registrado correctmente en el sistema.'
            })
            setTimeout(function() {
              window.location.href = "/auth/login";
            }, 1000);
          },
          error: function(error) {
            console.error(error);
            $(document).Toasts('create', {
              class: 'bg-danger',
              title: 'Ha ocurrido un error',
              autohide: true,
              delay: 5000,
              body: 'El usuario no ha podido ser registrado correctamente en el sistema.'
            })
          }
        });
      }
    </script>
</body>

</html>