<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="eventTable"></div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const eventTable = document.getElementById("eventTable");
      fetch("/api/events/list", {
          method: "POST",
        })
        .then((response) => response.json())
        .then((events) => {
          eventTable.innerHTML = "";
          if (events.length > 0) {
            const tableHTML = `
              <table style="width: 100%; border-collapse: collapse;">
                <thead>
                  <tr>
                    <th style="border: 1px solid black; padding: 10px;">ID del evento</th>
                    <th style="border: 1px solid black; padding: 10px;">Título</th>
                    <th style="border: 1px solid black; padding: 10px;">Descripción</th>
                    <th style="border: 1px solid black; padding: 10px;">Fecha</th>
                  </tr>
                </thead>
                <tbody>
                  ${events.map((event) => `
                    <tr>
                      <td style="border: 1px solid black; padding: 10px; width: 100px; overflow: hidden; text-overflow: ellipsis; text-align: center;">${event.id}</td>
                      <td style="border: 1px solid black; padding: 10px; text-align: center;">${event.title}</td>
                      <td style="border: 1px solid black; padding: 10px; text-align: center;">${event.desc}</td>
                      <td style="border: 1px solid black; padding: 10px; width: 75px; overflow: hidden; text-overflow: ellipsis; text-align: center;">${event.event_date}</td>
                    </tr>
                  `).join('')}
                </tbody>
              </table>
            `;

            eventTable.innerHTML = tableHTML;
          }
        });
    });
  </script>
</body>

</html>
