<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <form action="/api/events/add" method="POST">
    <label for="title">Título</label>
    <input type="text" name="title" id="title"><br><br>

    <label for="desc">Descripción</label>
    <input type="text" name="desc" id="desc"><br><br>

    <label for="event_date">Fecha</label>
    <input type="date" name="event_date" id="event_date"><br><br>

    <button type="submit">Crear evento</button>
  </form>
</body>

</html>