<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      font-family: 'Comic Sans MS', cursive;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }

    .container {
      text-align: center;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 20px;
      border-radius: 10px;
    }

    .error-code {
      font-size: 5em;
      color: #ff4d4d;
      margin: 0;
    }

    .error-message {
      font-size: 1.5em;
      color: #333;
    }

    .animation-container {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }

    .funny-character {
      font-size: 3em;
    }
  </style>
  <title>Error 403</title>
</head>

<body>
  <div class="container">
    <h1 class="error-code">403</h1>
    <p class="error-message">¡Oops! Parece ser que no estás usando el dispositivo indicado...<br> Necesitas utilizar un <%= device %>!</p>
    <div class="animation-container">
      <div class="funny-character">¯\_(ツ)_/¯</div>
    </div>
  </div>
</body>

</html>