<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/eventsweb.css">
  <title>Visor RPi | IES Teis</title>
</head>

<body>
  <div class="header">
    <div class="date">
      <b><span id="day">Domingo</span>, <span id="date">01/01/2023</span></b>
    </div>
    <b>
      <div class="time" id="current-time"></div>
    </b>
  </div>

  <div class="content">
    <img id="poster" src="" alt="Póster del evento" class="poster hide">
    <div class="event-info">
      <h1 id="event-title"></h1>
      <p class="subtitle"><span id="eventday"></span> <span id="eventdate"></span> <span id="event-time"></span></p>
      <div class="description">
        <p id="parrafop"><span id="description-text"></span></p>
      </div>
    </div>
    <div class="qr-code">
      <div id="qrcode"></div>
    </div>
  </div>

  <script src="/assets/js/eventsweb.js"></script>
  <script src="/assets/js/plugins/qrcodejs/qrcode.js"></script>
</body>

</html>