@import "tailwindcss";
@layer base {
  :root {
    --text-50: #eef2f7;
    --text-100: #dce5ef;
    --text-200: #bacade;
    --text-300: #97b0ce;
    --text-400: #7495be;
    --text-500: #527bad;
    --text-600: #41628b;
    --text-700: #314a68;
    --text-800: #213145;
    --text-900: #101923;
    --text-950: #080c11;
    
    --background-50: #edf3f7;
    --background-100: #dce6ef;
    --background-200: #b8cee0;
    --background-300: #95b5d0;
    --background-400: #719dc1;
    --background-500: #4e84b1;
    --background-600: #3e6a8e;
    --background-700: #2f4f6a;
    --background-800: #1f3547;
    --background-900: #101a23;
    --background-950: #080d12;
    
    --primary-50: #ecf2f8;
    --primary-100: #dae6f1;
    --primary-200: #b4cce4;
    --primary-300: #8fb2d6;
    --primary-400: #6999c9;
    --primary-500: #447fbb;
    --primary-600: #366696;
    --primary-700: #294c70;
    --primary-800: #1b334b;
    --primary-900: #0e1925;
    --primary-950: #070d13;
    
    --secondary-50: #ebf2f9;
    --secondary-100: #d8e5f3;
    --secondary-200: #b0cbe8;
    --secondary-300: #89b1dc;
    --secondary-400: #6297d0;
    --secondary-500: #3b7dc4;
    --secondary-600: #2f649d;
    --secondary-700: #234b76;
    --secondary-800: #17324f;
    --secondary-900: #0c1927;
    --secondary-950: #060d14;
    
    --accent-50: #ebf2fa;
    --accent-100: #d6e5f5;
    --accent-200: #adcbeb;
    --accent-300: #85b1e0;
    --accent-400: #5c97d6;
    --accent-500: #337dcc;
    --accent-600: #2964a3;
    --accent-700: #1f4b7a;
    --accent-800: #143252;
    --accent-900: #0a1929;
    --accent-950: #050c14;
    
  }
  .dark {
    --text-50: #080c11;
    --text-100: #101923;
    --text-200: #213145;
    --text-300: #314a68;
    --text-400: #41628b;
    --text-500: #527bad;
    --text-600: #7495be;
    --text-700: #97b0ce;
    --text-800: #bacade;
    --text-900: #dce5ef;
    --text-950: #eef2f7;
    
    --background-50: #080d12;
    --background-100: #101a23;
    --background-200: #1f3547;
    --background-300: #2f4f6a;
    --background-400: #3e6a8e;
    --background-500: #4e84b1;
    --background-600: #719dc1;
    --background-700: #95b5d0;
    --background-800: #b8cee0;
    --background-900: #dce6ef;
    --background-950: #edf3f7;
    
    --primary-50: #070d13;
    --primary-100: #0e1925;
    --primary-200: #1b334b;
    --primary-300: #294c70;
    --primary-400: #366696;
    --primary-500: #447fbb;
    --primary-600: #6999c9;
    --primary-700: #8fb2d6;
    --primary-800: #b4cce4;
    --primary-900: #dae6f1;
    --primary-950: #ecf2f8;
    
    --secondary-50: #060d14;
    --secondary-100: #0c1927;
    --secondary-200: #17324f;
    --secondary-300: #234b76;
    --secondary-400: #2f649d;
    --secondary-500: #3b7dc4;
    --secondary-600: #6297d0;
    --secondary-700: #89b1dc;
    --secondary-800: #b0cbe8;
    --secondary-900: #d8e5f3;
    --secondary-950: #ebf2f9;
    
    --accent-50: #050c14;
    --accent-100: #0a1929;
    --accent-200: #143252;
    --accent-300: #1f4b7a;
    --accent-400: #2964a3;
    --accent-500: #337dcc;
    --accent-600: #5c97d6;
    --accent-700: #85b1e0;
    --accent-800: #adcbeb;
    --accent-900: #d6e5f5;
    --accent-950: #ebf2fa;
    
  }
},
