<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/assets/css/error.css" rel="stylesheet" type="text/css" />
  <title>Error 500</title>
  <!-- Favicon -->
  <link rel="icon" href="/assets/img/favicon/favicon.png" type="image/png">
</head>

<body>
  <div class="container">
    <h1 class="error-code">500</h1>
    <p class="error-message">¡Oops! Algo salió mal en el servidor, pero...</p>
    <div class="animation-container">
      <div class="funny-character">¯\_(ツ)_/¯</div>
    </div>
  </div>
</body>

</html>