<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <div class="preloader flex-column justify-content-center align-items-center">
      <img class="animation__shake" src="/assets/img/logoies.jpg" height="60" width="60">
    </div>
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="modal" data-target="#changelogModal" href="#">
            <i class="far fa-bell"></i>
          </a>
        </li>
      </ul>
    </nav>
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <a href="/dash" class="brand-link">
        <img src="/assets/img/logoies.jpg" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">IES De Teis</span>
      </a>
      <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="/assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <a href="#" class="d-block">Alexander Pierce</a>
          </div>
        </div>
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
              <a href="/dash/" class="nav-link active">
                <i class="nav-icon fas fa-home"></i>
                <p>Inicio</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dash/eventlist" class="nav-link">
                <i class="nav-icon fas fa-home"></i>
                <p>Listado de eventos</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-home"></i>
                <p>Gestión de usuarios</p>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </aside>
    <div class="content-wrapper">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Inicio</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                <li class="breadcrumb-item active">Vista general</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <section class="content">
        <div class="container-fluid">
          <% if (latestVersion === false) { %>
          <div class="alert alert-danger alert-dismissible" id="updateAvaliable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h5><i class="icon fas fa-tag"></i> Nueva versión disponible!</h5>
            Una nueva versión del software está disponible. Por favor, contacta con el administrador para que lo actualice siguiendo las <a href="https://github.com/AlexDeveloperUwU/liberteis/wiki/Actualizaci%C3%B3n">instrucciones</a>
          </div>
          <% } %>
          <div class="row">
            <div class="col-lg-4 col-4">
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>150</h3>
                  <p>Eventos totales</p>
                </div>
                <div class="icon">
                  <i class="fas fa-theater-masks"></i>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-4">
              <div class="small-box bg-warning">
                <div class="inner">
                  <h3>150</h3>
                  <p>Eventos por realizar</p>
                </div>
                <div class="icon">
                  <i class="fas fa-theater-masks"></i>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-4">
              <div class="small-box bg-success">
                <div class="inner">
                  <h3>150</h3>
                  <p>Eventos ya realizados</p>
                </div>
                <div class="icon">
                  <i class="fas fa-theater-masks"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-50">
            <div class="card card-primary">
              <div class="card-body p-0">
                <div id="calendar"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="eventModalLabel">Detalles del evento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="eventModalBody">
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="modal fade" id="changelogModal" tabindex="-1" role="dialog" aria-labelledby="changelogModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="changelogModalLabel">Changelog</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="log-wrapper"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="main-footer">
      <strong>IES De Teis</strong>
      <div class="float-right d-none d-sm-inline-block">
        <b>Versión <%= version %></b>
      </div>
    </footer>
    <aside class="control-sidebar control-sidebar-dark">
    </aside>
  </div>
  <%- include('../partials/scripts') %>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Función para abrir el changelog
      var logArr;

      fetch('/assets/docs/changelog.json')
        .then(response => response.json())
        .then(data => {
          logArr = data;
          renderChangelog();
        })
        .catch(error => console.error('Error al cargar el archivo JSON:', error));

      function renderChangelog() {
        var buildLogSection = function(log) {
          var $section = document.createElement("section");
          $section.classList.add("log");
          var $title = buildLogTitle(log);
          var $list = buildLogList(log);
          $section.appendChild($title);
          $section.appendChild($list);
          return $section;
        };

        var buildLogTitle = function(log) {
          var $title = document.createElement("h5");
          var versionDate = log.version + " - " + log.date;
          $title.innerText = versionDate;
          return $title;
        };

        var buildLogList = function(log) {
          var $ul = document.createElement("ul");
          var list = log.list || [];
          for (var i = 0; i < list.length; i++) {
            var item = list[i];
            var $li = buildLogItem(item);
            $ul.appendChild($li);
          }
          return $ul;
        };

        var buildLogItem = function(item) {
          var $li = document.createElement("li");
          var $labels = document.createElement("div");
          $labels.classList.add("label-wrapper");
          var $detail = document.createElement("div");
          $detail.classList.add("detail-wrapper");

          const labelColorMap = {
            'añadido': 'green',
            'eliminado': 'red',
            'arreglado': 'yellow'
          };

          const labelColor = labelColorMap[item.label[0].toLowerCase()] || 'black';

          item.label.forEach(function(label) {
            var $label = document.createElement("span");
            $label.classList.add("label", "label-" + label.toLowerCase());
            $label.style.color = labelColor;
            $label.innerText = label;
            $labels.appendChild($label);
          });

          $detail.innerHTML = item.detail;

          $li.appendChild($labels);
          $li.appendChild($detail);

          return $li;
        };

        var sectionArr = [];

        // Mostrar las dos primeras entradas del changelog
        for (var i = 0; i < Math.min(2, logArr.length); i++) {
          var $section = buildLogSection(logArr[i]);
          sectionArr.push($section.outerHTML);
        }

        document.querySelector(".log-wrapper").innerHTML = sectionArr.join("");
      }

      // Función para abrir el formulario de borrar un evento
      function openRemoveEventForm(event) {
        $('#eventModal').modal('show');
        $('#eventModalLabel').text('Eliminar evento');
        $('#eventModalBody').html(
          '<form id="removeEventForm">' +
          '  <p class="text-danger">¿Estás seguro de que quieres eliminar el evento <strong>' + event.title + '</strong>?</p>' +
          '<br><div class="d-flex justify-content-between">' +
          '<button type="button" class="btn btn-primary" id="closeModalButton">Cancelar</button>' +
          '<button type="submit" class="btn btn-danger">Eliminar evento</button>' +
          '</div>' +
          '</form>'
        );

        $('#closeModalButton').on('click', function() {
          $('#eventModal').modal('hide');
        });

        $('#removeEventForm').data('eventId', event.id);

        $('#removeEventForm').submit(function(event) {
          event.preventDefault();
          var eventId = $(this).data('eventId');
          console.log(eventId)
          removeEvent(eventId);
        });

        $('#eventModal').modal('show');
      }

      // Función para eliminar un evento
      function removeEvent(eventId) {
        $.ajax({
          url: '/api/delete',
          type: 'POST',
          data: {
            eventID: eventId
          },
          success: function(data) {
            console.log('Evento eliminado con éxito:', data);
            $('#eventModal').modal('hide');
            setTimeout(function() {
              location.reload(true);
            }, 1000);
          },
          error: function(error) {
            console.error('Error al eliminar el evento:', error);
            alert('Error al eliminar el evento. Por favor, inténtalo de nuevo.');
          }
        });
      }

      // Función para abrir el formulario de edición de eventos
      function openEditEventForm(event) {
        $('#eventModal').modal('show');
        $('#eventModalLabel').text('Editar evento');

        var currentCategory = event.extendedProps.type;
        var categoryOptions = '';
        ['General', 'Espacio Maker'].forEach(function(category) {
          // Agregar 'selected' si la categoría coincide con la categoría actual del evento
          var selectedAttribute = category === currentCategory ? 'selected' : '';

          categoryOptions += '<option value="' + category + '" ' + selectedAttribute + '>' + category + '</option>';
        });


        $('#eventModalBody').html(
          '<form id="editEventForm">' +
          '  <div class="form-group">' +
          '    <label for="editEventTitle">Título del evento:</label>' +
          '    <input type="text" class="form-control" id="editEventTitle" value="' + event.title + '" required maxlength=60>' +
          '  </div>' +
          '  <div class="form-group">' +
          '    <label for="editEventDescription">Descripción del evento:</label>' +
          '    <textarea class="form-control" id="editEventDescription" rows="3" maxlength=400 required>' + event.extendedProps.description + '</textarea>' +
          '  </div>' +
          '  <div class="form-group">' +
          '    <label for="editEventDate">Fecha del evento:</label>' +
          '    <input type="datetime-local" class="form-control" id="editEventDate" value="' + moment(event.start).format('YYYY-MM-DDTHH:mm') + '" required>' +
          '  </div>' +
          '  <div class="form-group">' +
          '    <label for="editEventCategory">Categoría:</label>' +
          '    <select class="form-control" id="editEventCategory" required>' +
          '       ' + categoryOptions +
          '    </select>' +
          '  </div>' +
          '  <div class="form-group" style="display: none;">' +
          '    <label for="editEventThumbUrl">URL de la miniatura:</label>' +
          '    <input type="text" class="form-control" id="editEventThumbUrl" value="' + event.extendedProps.thumb_url + '">' +
          '  </div>' +
          '  <div class="form-group" style="display: none;">' +
          '    <label for="editEventQrUrl">URL del QR:</label>' +
          '    <input type="text" class="form-control" id="editEventQrUrl" value="' + event.extendedProps.qr_url + '">' +
          '  </div>' +
          '  <div class="form-group">' +
          '    <label for="editEventPublishedBy">Añadido por:</label>' +
          '    <input type="text" class="form-control" id="editEventPublishedBy" value="' + event.extendedProps.published_by + '" required>' +
          '  </div>' +
          '   <label for="editEventPublishedBy">Miniatura:</label>' +
          '   <p class="text-warning">No se puede editar la miniatura, con lo que deberás crear un evento nuevo para poder subir la nueva miniatura</p>' +
          '  <button type="submit" class="btn btn-primary">Guardar cambios</button>' +
          '</form>'
        );

        $('#editEventForm').data('eventId', event.id);

        $('#editEventForm').submit(function(event) {
          console.log($(this).data('eventId'))
          event.preventDefault();
          var eventId = $(this).data('eventId');
          saveEditedEvent(eventId);
        });

        $('#eventModal').modal('show');
      }

      // Función para guardar los cambios en un evento editado
      function saveEditedEvent(eventId) {
        var title = $('#editEventTitle').val();
        var description = $('#editEventDescription').val();
        var category = $('#editEventCategory').val();
        var thumbUrl = $('#editEventThumbUrl').val();
        var qrUrl = $('#editEventQrUrl').val();
        var publishedBy = $('#editEventPublishedBy').val();
        var eventDate = $('#editEventDate').val();

        $.ajax({
          url: '/api/edit/',
          type: 'POST',
          data: {
            id: eventId,
            title: title,
            desc: description,
            event_date: eventDate,
            type: category,
            thumb_url: thumbUrl,
            qr_url: qrUrl,
            published_by: publishedBy
          },
          success: function(data) {
            console.log('Evento editado con éxito:', data);
            $('#eventModal').modal('hide');
            setTimeout(function() {
              location.reload(true);
            }, 1000);
          },
          error: function(error) {
            console.error('Error al editar el evento:', error);
            alert('Error al editar el evento. Por favor, inténtalo de nuevo.');
          }
        });
      }

      function openCloneEventForm(event) {
        $('#eventModal').modal('show');
        $('#eventModalLabel').text('Clonar evento');

        var currentCategory = event.extendedProps.type;
        var categoryOptions = '';
        ['General', 'Espacio Maker'].forEach(function(category) {
          var selectedAttribute = category === currentCategory ? 'selected' : '';
          categoryOptions += '<option value="' + category + '" ' + selectedAttribute + '>' + category + '</option>';
        });

        $('#eventModalBody').html(
          '<form id="cloneEventForm">' +
          '  <div class="form-group">' +
          '    <label for="cloneEventTitle">Título del evento:</label>' +
          '    <input type="text" class="form-control" id="cloneEventTitle" value="' + event.title + '" required maxlength=60>' +
          '  </div>' +
          '  <div class="form-group">' +
          '    <label for="cloneEventDescription">Descripción del evento:</label>' +
          '    <textarea class="form-control" id="cloneEventDescription" rows="3" maxlength=400 required>' + event.extendedProps.description + '</textarea>' +
          '  </div>' +
          '  <div class="form-group">' +
          '    <label for="cloneEventDate">Fecha del evento:</label>' +
          '    <input type="datetime-local" class="form-control" id="cloneEventDate" value="' + moment(event.start).format('YYYY-MM-DDTHH:mm') + '" required>' +
          '  </div>' +
          '  <div class="form-group">' +
          '    <label for="cloneEventCategory">Categoría:</label>' +
          '    <select class="form-control" id="cloneEventCategory" required>' +
          '       ' + categoryOptions +
          '    </select>' +
          '  </div>' +
          '  <div class="form-group" style="display: none;">' +
          '    <label for="cloneEventThumbUrl">URL de la miniatura:</label>' +
          '    <input type="text" class="form-control" id="cloneEventThumbUrl" value="' + event.extendedProps.thumb_url + '">' +
          '  </div>' +
          '  <div class="form-group">' +
          '    <label for="cloneEventPublishedBy">Añadido por:</label>' +
          '    <input type="text" class="form-control" id="cloneEventPublishedBy" value="' + event.extendedProps.published_by + '" required>' +
          '  </div>' +
          '   <label for="cloneEventAlert">Miniatura:</label>' +
          '   <p class="text-warning">No se puede editar la miniatura al clonar un evento, con lo que deberás crear un evento nuevo para poder subir la nueva miniatura</p>' +
          '  <button type="submit" class="btn btn-warning">Clonar evento</button>' +
          '</form>'
        );

        $('#cloneEventForm').data('eventId', event.id);

        $('#cloneEventForm').submit(function(event) {
          event.preventDefault();
          var title = $('#cloneEventTitle').val();
          var description = $('#cloneEventDescription').val();
          var category = $('#cloneEventCategory').val();
          var thumbUrl = $('#cloneEventThumbUrl').val();
          var publishedBy = $('#cloneEventPublishedBy').val();
          var eventDate = $('#cloneEventDate').val();

          $.ajax({
            url: '/api/add',
            type: 'POST',
            data: {
              title: title,
              desc: description,
              event_date: eventDate,
              type: category,
              thumb_url: thumbUrl,
              published_by: publishedBy,
            },
            success: function(data) {
              console.log('Evento añadido con éxito:', data);
              setTimeout(function() {
                location.reload(true);
              }, 1000);
            },
            error: function(error) {
              console.error('Error al añadir el evento:', error);
              alert('Error al añadir el evento. Por favor, inténtalo de nuevo.');
            }
          });
        });

        $('#eventModal').modal('show');
      }

      // Función que maneja el calendario y casi todo lo relacionado con él, carga los eventos en el calendario, los añade si haces click y etc
      $.ajax({
        url: '/api/list',
        type: 'POST',
        success: function(data) {
          var totalEvents = data.length;
          $('.bg-info .inner h3').text(totalEvents);

          var currentDate = new Date();

          var pastEvents = data.filter(function(event) {
            return new Date(event.event_date) < currentDate;
          });
          $('.bg-success .inner h3').text(pastEvents.length);

          var futureEvents = data.filter(function(event) {
            return new Date(event.event_date) > currentDate;
          });
          $('.bg-warning .inner h3').text(futureEvents.length);

          var calendarEl = document.getElementById('calendar');
          var calendar = new FullCalendar.Calendar(calendarEl, {
            firstDay: 1,
            headerToolbar: {
              left: 'prev,next today',
              center: 'title',
              right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            themeSystem: 'bootstrap',
            events: data.map(function(event) {
              return {
                id: event.id,
                title: event.title,
                start: event.event_date,
                description: event.desc,
                type: event.type,
                thumb_url: event.thumb_url,
                qr_url: event.qr_url,
                published_by: event.published_by
              };
            }),
            eventClick: function(info) {
              function obtenerDia(fecha) {
                const diasSemana = ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"];
                const fechaObj = new Date(fecha);
                const diaSemana = fechaObj.getDay();
                return diasSemana[diaSemana];
              }
              var formattedDate = obtenerDia(info.event.start) + ', ' + moment(info.event.start).format('MM/DD/YYYY, HH:mm');

              var eventDetails = '<strong>Título del evento:</strong><br>' + info.event.title +
                '<br><br><strong>Fecha del evento:</strong><br>' + formattedDate +
                '<br><br><strong>Descripción del evento:</strong><br>' + info.event.extendedProps.description +
                '<br><br><strong>Categoría:</strong><br>' + info.event.extendedProps.type +
                '<br><br><strong>Miniatura del evento:</strong><br><img src="' + info.event.extendedProps.thumb_url + '" alt="Miniatura del evento" style="max-width: 75%;">' +
                '<br><br><strong>QR del evento:</strong><br><div id="qrcode"></div>' +
                '<br><br><strong>Añadido por:</strong><br>' + info.event.extendedProps.published_by +
                '<br><br><div class="d-flex justify-content-between">' +
                '<button type="button" class="btn btn-primary" id="editEventButton">Editar evento</button>' +
                '<button type="button" class="btn btn-warning" id="cloneEventButton">Clonar evento</button>' +
                '<button type="button" class="btn btn-danger" id="removeEventButton">Eliminar evento</button>' +
                '</div>';

              $('#eventModalLabel').text('Información del evento');
              $('#eventModalBody').html(eventDetails);

              var qrcode = new QRCode(document.getElementById("qrcode"), {
                text: info.event.extendedProps.qr_url,
                width: 150,
                height: 150,
                colorDark: "#000000",
                colorLight: "#ffffff",
                correctLevel: QRCode.CorrectLevel.H
              });

              $('#editEventButton').on('click', function() {
                openEditEventForm(info.event);
              });

              $('#removeEventButton').on('click', function() {
                openRemoveEventForm(info.event);
              });

              $('#cloneEventButton').on('click', function() {
                openCloneEventForm(info.event);
              });

              $('#eventModal').modal('show');
            },
            dateClick: function(info) {
              var formattedDate = moment(info.date).format('YYYY-MM-DDTHH:mm');
              $('#eventModalLabel').text('Crear nuevo evento');
              $('#eventModalBody').html(
                '<form id="createEventForm">' +
                '  <div class="form-group">' +
                '    <label for="eventTitle">Título del evento:</label>' +
                '    <input type="text" class="form-control" id="eventTitle" required maxlength=60>' +
                '  </div>' +
                '  <div class="form-group">' +
                '    <label for="eventDescription">Descripción del evento:</label>' +
                '    <textarea class="form-control" id="eventDescription" rows="3" maxlength=400 required></textarea>' +
                '  </div>' +
                '  <div class="form-group">' +
                '    <label for="eventDate">Fecha del evento:</label>' +
                '    <input type="datetime-local" class="form-control" id="eventDate" value="' + formattedDate + '" required>' +
                '  </div>' +
                '  <div class="form-group">' +
                '    <label for="eventCategory">Categoría:</label>' +
                '    <select class="form-control" id="eventCategory" required>' +
                '       <option value="General">General</option>' +
                '       <option value="Espacio Maker">Espacio Maker</option>' +
                '    </select>' +
                '  </div>' +
                '  <div class="form-group">' +
                '    <label for="eventPublishedBy">Añadido por:</label>' +
                '    <input type="text" class="form-control" id="eventPublishedBy" required>' +
                '  </div>' +
                '</form>' +

                '<form id="uploadThumbnailForm" enctype="multipart/form-data">' +
                '  <div class="form-group">' +
                '     <label for="eventThumb">Miniatura del evento:</label>' +
                '     <input type="file" class="form-control-file" id="eventThumb" name="thumbnailfile" accept="image/*">' +
                '  </div>' +
                '  <button type="submit" class="btn btn-primary">Guardar evento</button>' +
                '</form>'
              );

              $('#eventModal').modal('show');

              $('#uploadThumbnailForm').submit(function(event) {
                event.preventDefault();

                var formData = new FormData();
                formData.append('thumbnailfile', $('#eventThumb')[0].files[0]);

                $.ajax({
                  url: '/api/upload',
                  type: 'POST',
                  data: formData,
                  processData: false,
                  contentType: false,
                  success: function(data) {
                    var thumbUrl = data.url;
                    var title = $('#eventTitle').val();
                    var description = $('#eventDescription').val();
                    var publishedBy = $('#eventPublishedBy').val();
                    var eventDate = $('#eventDate').val();
                    var category = $('#eventCategory').val();

                    $.ajax({
                      url: '/api/add',
                      type: 'POST',
                      data: {
                        title: title,
                        desc: description,
                        event_date: eventDate,
                        type: category,
                        published_by: publishedBy,
                        thumb_url: thumbUrl
                      },
                      success: function(data) {
                        console.log('Evento añadido con éxito:', data);
                        setTimeout(function() {
                          location.reload(true);
                        }, 1000);
                      },
                      error: function(error) {
                        console.error('Error al añadir el evento:', error);
                        alert('Error al añadir el evento. Por favor, inténtalo de nuevo.');
                      }
                    });
                  },
                  error: function(error) {
                    console.error('Error al subir la miniatura:', error);
                    alert('Error al subir la miniatura. Por favor, inténtalo de nuevo.');
                  }
                });
              });
            }
          });

          calendar.render();
        },
        error: function() {
          console.error('Error al obtener la lista de eventos');
        }
      });
    });
  </script>
</body>

</html>