<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/eventweb_norpi.css">
  <title>Evento detallado | IES Teis</title>
  <link rel="icon" href="/assets/img/favicon/favicon.png" type="image/png">
</head>

<body>
  <div class="header">
    <div class="date">
      <b><span id="day">Domingo</span>, <span id="date">01/01/2024</span></b>
    </div>
    <b>
      <div class="time" id="current-time"></div>
    </b>
  </div>

  <div class="content">
    <div class="event-info">
      <h1 id="event-title"></h1>
      <p class="subtitle"><span id="eventday"></span> <span id="eventdate"></span> <span id="event-time"></span><br>Categoría: <span id="eventCategory"></span></p>
      <div class="description">
        <p id="parrafop"><span id="description-text"></span></p>
      </div>
    </div>
  </div>
  <script src="/assets/js/eventweb_norpi.js"></script>
  <script src="/assets/js/plugins/qrcodejs/qrcode.js"></script>
  <script src="/assets/js/plugins/jquery/jquery.min.js"></script>
</body>

</html>